In [1]:
import pandas as pd

In [2]:
# load in CSVs

february_data = "Citi Bike Data - Reference/JC-202202-citibike-tripdata.csv"
march_data = "Citi Bike Data - Reference/JC-202203-citibike-tripdata.csv"
april_data = "Citi Bike Data - Reference/JC-202204-citibike-tripdata.csv"

In [3]:
# read CSVs

feb_pd = pd.read_csv(february_data)
mar_pd = pd.read_csv(march_data)
apr_pd = pd.read_csv(april_data)

In [4]:
# combine (concatenate) all 3 dataframes into a single one

citi_bike_feb_apr = pd.concat ([feb_pd, mar_pd, apr_pd])

In [5]:
# display dataframe

citi_bike_feb_apr.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B7BCBC133222B04A,classic_bike,2022-02-17 11:48:16,2022-02-17 11:58:30,Astor Place,JC077,Journal Square,JC103,40.719282,-74.071262,40.733670,-74.062500,member
1,0F9F1A0F18FD3A22,electric_bike,2022-02-02 08:31:26,2022-02-02 08:38:08,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member
2,44B5D106DDB509AC,electric_bike,2022-02-09 14:05:49,2022-02-09 14:10:21,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member
3,E1434F258C195DC6,classic_bike,2022-02-08 07:57:44,2022-02-08 08:15:26,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member
4,64821879B2659E35,classic_bike,2022-02-07 08:05:28,2022-02-07 08:24:03,Astor Place,JC077,Sip Ave,JC056,40.719282,-74.071262,40.730897,-74.063913,member

In [8]:
citi_bike_feb_apr.to_csv("Citi Bike Data - Reference/CitiBike_merged (feb-apr).csv", index=False, header=True)